:root {
    --bg-color: #1b1b1b;
    --font-color:#e0e0e0;
    --link-color: #7491c8;
    --cookie-bg-color: rgb(72, 72, 72);
    --cookie-font-color: #e0e0e0;
    --nav-hover-color: rgb(120, 120, 120);
}

[data-theme="light"] {
    --bg-color: #e0e0e0;
    --font-color:#1b1b1b;
    --link-color: #7491c8;
    --cookie-bg-color: #ffffff;
    --cookie-font-color: #000000;
    --nav-hover-color: rgb(120, 120, 120); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    max-width: 1860px;
    margin: 0 auto;
    padding: 0 20px;
    border: 10px solid var(--font-color);
}

/* ========== Navigation ========== */

.navbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
}

.nav-right button {
    color: var(--font-color);
    background-color: var(--bg-color);
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border: 3px solid var(--font-color);
    border-radius: 50px;
}

.nav-right button.theme-animated {
    transition: background-color 2s;
}

.nav-right button:hover {
    background-color: cornflowerblue;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--font-color);
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav li {
    display: inline;
    padding-right: 20px;
}

li a:hover {
    background-color: var(--nav-hover-color);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ========== Title ========== */

.title {
    text-align: center;
    padding-bottom: 90px;
}

.title p {
    color: gray;
    padding-top: 10px;
}

/* ========== Main Section ========== */

section li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main-sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--font-color);
}

section {
    flex: 1;
}

section:nth-of-type(2) {
    flex: 1.5;
}

section:nth-of-type(3) {
    flex: 1.5;
}

/* ========== Projects ========== */

.projects {
    border: 1px solid var(--font-color);
    
}

.projects li {
    padding: 1rem;
    border-bottom: 1px solid var(--font-color);
}

.projects h3 {
    padding: 1rem;
}

/* ========== Work Experience ========== */

.work-experience {
    border: 1px solid var(--font-color);
    padding: 1rem;
}

.work-experience h3 {
    padding-bottom: 1.7rem;
}

.work-experience p {
    line-height: 1rem;
    padding-bottom: 1rem;
}

.work-experience a {
    text-decoration: none;
    color: var(--link-color);
}

.work-experience .opensource {
    padding-top: 2rem;
}

/* ========== Education ========== */

.education {
    border: 1px solid var(--font-color);
    padding: 1rem;
}

.education .graduation {
    padding-bottom: 1rem;
}

.education h3 {
    padding-bottom: 1rem;
}

.courses li {
    padding: 0.5rem;
}

.courses li::before {
    content: "- ";
    left: 0;
}

/* ========== Reviews ========== */

.reviews h3 {
    padding: 2rem;
}

.review-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px; 
}

.review-cards .card {
    width: 100%;
    max-width: 300px;
    border: 4px solid var(--font-color);
    border-radius: 40px;
    padding: 20px;
}

/* ========== Cookies ========== */

.cookie-wrapper {
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 9999;
    font-size: 20px;
}

.cookie {
    height: 20rem;
    width: 20rem;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--cookie-bg-color);
    color: var(--cookie-font-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.cookie-wrapper .cookie img {
    width: 4rem;
    height: 4rem;
    align-self: flex-start;
    margin: 1rem 0 0 1rem;
}

.cookie-wrapper .cookie p {
    padding: 2rem 0rem 0 0;
}

.cookie-wrapper .cookie button {
    width: 16rem;
    height: 3rem;
    border-radius: 2rem;
    border: 1px solid white;
    font-size: 1rem;
}

/* ========== Footer ========== */

footer {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 250px;
}

/* ========== Projects.html ========== */

.title-project {
    text-align: center;
    padding-bottom: 2.5rem;
}

.main-projects {
    text-align: center;
    font-size: 1.1rem;
}

.main-projects .snake-content {
    padding-bottom: 5rem;
}

.main-projects .game img {
    padding-top: 3rem;
}

.main-projects .tictactoe-content {
    padding-bottom: 5rem;
}

/* ========== Articles.html ========== */

.title-article {
    text-align: center;
    padding-bottom: 2rem;
}

.main-article {
    text-align: center;
    font-size: 1rem;
}

.main-article p {
    font-size: 1.1rem;
    padding-top: 1rem;
}

.main-article .developer-struggle {
    padding-bottom: 3rem;
}

.main-article .programming-ai {
    padding-bottom: 3rem;
}

/* ========== Contact.html ========== */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.main-contact {
    border-radius: 50px;
    width: 35rem;
    height: 29rem;
    background-color: var(--font-color);
    color: var(--bg-color);    
}

.main-contact h1 {
    padding: 2rem 0rem 1rem 8rem;
}

.main-contact .form-row {
    padding: 2rem 0rem 1rem 8rem;
}

.main-contact .form-row input {
    width: 250px;
    height: 25px;
}

.main-contact .form-row textarea {
    resize: none;
    max-width: 300px;
    height: 3rem;
    width: 16rem;
}


/* ========== Media Queries ========== */

@media only screen and (max-width: 600px) {
    .main-projects .game img {
        height: auto;
        width: 100%;
    }

    .main-contact {
        width: 90%;
        max-width: 400px;
    }
    
    .main-contact h1 {
        padding: 1rem;
    } 

    .main-contact .form-row {
        padding: 1rem;
    }

    .main-contact .form-row input, 
    .main-contact .form-row textarea {
        width: 100%;
    }

}